Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# PHP
RewriteRule .* index.php?request=%{REQUEST_URI} [L]
RewriteRule ^data/?$ - [F,L]
